<h2>Clean Burgers<sup>&reg;</sup> offers {{ list.getBurgerCount() }} burgers</h2>

<form>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group">
          <input type="search" id="search" class="form-control"
                 ng-model="list.search.description"
                 placeholder="Search in description"/>

          <div class="input-group-btn">
            <button class="btn btn-default" type="button"
                    ng-click="list.search.description = ''">Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>
      <a href="" ng-click="list.order = 'name'; list.reverse = !list.reverse">
        Name
      </a>
    </th>
    <th>
      <a href="" ng-click="list.order = 'description'; list.reverse = !list.reverse">
        Description
      </a>
    </th>
    <th>
      <a href="" ng-click="list.order = 'type'; list.reverse = !list.reverse">
        Type
      </a>
    </th>
    <th>
      <a href="" ng-click="list.order = 'price'; list.reverse = !list.reverse">
        Price
      </a>
    </th>
    <th>
      <a href="" ng-click="list.order = 'rating'; list.reverse = !list.reverse">
        Rating
      </a>
    </th>
    <th>
      Actions
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="burger in list.burgers | orderBy:list.order:list.reverse | filter:list.search">
    <td>
      {{ ::burger.name | uppercase }}
    </td>
    <td>
      {{ burger.description | limitTo:list.maxchars }}
    </td>
    <td>
      {{ ::burger.type | cbBurgertype }}
    </td>
    <td>
      {{ ::burger.price | currency }}
    </td>
    <td>
      {{ ::burger.rating }}
    </td>
    <td>
      <a ng-href="#/burgers/{{ burger.name }}">
        Edit
      </a>
    </td>
  </tr>
  </tbody>
</table>
<!-- let user decide about length of description -->
<form>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="maxchars">
          Enter maximum length of description
        </label>
        <input type="number" id="maxchars" class="form-control" min="1"
               max="{{ ::list.maxchars }}"
               ng-model="list.maxchars"/>
      </div>
    </div>
  </div>
</form>
