<!-- display dynamic welcome message by referring to a controller method -->
<h2>Clean Burgers<sup>&reg;</sup> offers {{ list.getBurgerCount() }} burgers</h2>

<!-- display a dynamic table of data -->
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="burger in list.burgers" ng-class="{ 'info': burger == list.selectedBurger }"> <!-- conditionally set CSS class(es) -->
    <td>
      {{ burger.name }}
    </td>
    <td>
      {{ burger.description }}
    </td>
    <td>
      {{ burger.type }}
    </td>
    <td>
      {{ burger.price }}
    </td>
    <td>
      <a href="" ng-click="list.selectedBurger = burger"> <!-- use ng-click to handle a UI event -->
        Preview
      </a>
    </td>
  </tr>
  </tbody>
</table>
