<!DOCTYPE html>
<html lang="en" ng-app="cleanburger">
<head>
  <meta charset="UTF-8">
  <title>Filters | Engawa</title>
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="../../app/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" ng-cloak>

  <div class="panel panel-default">
    <div class="panel-body">
      <h2><a href="../"><-</a> Filters
        <small><sup>&copy;</sup>Engawa 2015</small>
      </h2>
    </div>
  </div>

  <section class="row">
    <div class="col-md-8">
      <div ng-controller="MenuCtrl as menu">
        <h2>Clean Burger<sup>&reg;</sup> offers {{ menu.getBurgerCount() }} burgers</h2>

        <!-- let the user search for description -->
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <input type="search" id="search" class="form-control"
                         ng-model="menu.search"
                         placeholder="Search in name or description"/>

                  <div class="input-group-btn">
                    <button class="btn btn-default" type="button"
                            ng-click="menu.search = ''">Clear
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- display a dynamic table of data -->
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>
              <a href="" ng-click="menu.order = 'name'; menu.reverse = !menu.reverse">
                Name
              </a>
            </th>
            <th>
              <a href="" ng-click="menu.order = 'description'; menu.reverse = !menu.reverse">
                Description
              </a>
            </th>
            <th>Type</th>
            <th>
              <a href="" ng-click="menu.order = 'price'; menu.reverse = !menu.reverse">
                Price
              </a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="burger in menu.burgers | orderBy:menu.order:menu.reverse | filter:menu.search">
            <td>
              {{ ::burger.name | uppercase }} <!-- display name in uppercase letters -->
            </td>
            <td>
              {{ burger.description | limitTo:menu.maxchars }} <!-- limit number of characters -->
            </td>
            <td>
              {{ ::burger.type | cbBurgertype }} <!-- transform type into a human readable string -->
            </td>
            <td>
              {{ ::burger.price | currency }} <!-- display price with proper currency formatting -->
            </td>
          </tr>
          </tbody>
        </table>
        <!-- let user decide about length of description -->
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="maxchars">
                  Enter maximum length of description
                </label>
                <input type="number" id="maxchars" class="form-control" min="1"
                       max="{{ ::menu.maxchars }}"
                       ng-model="menu.maxchars"/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<!-- bower:js -->
<script src="../../app/bower_components/jquery/dist/jquery.js"></script>
<script src="../../app/bower_components/angular/angular.js"></script>
<script src="../../app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<script src="../../app/bower_components/angular-i18n/angular-locale_de-de.js"></script>
<script src="src/app.module.js"></script>
<script src="src/core/filters/filters.module.js"></script>
<script src="src/core/filters/burgertype/burgertype.filter.js"></script>
<script src="src/views/menu/menu.ctrl.js"></script>
</body>
</html>