<!-- HTML passed in from outside -->
<ng-transclude></ng-transclude>
<!-- display only, if burger has been passed in -->
<section class="well" ng-if="!!preview.burger">
  <h3>{{ preview.burger.name }}</h3>
  <!-- display truncated description -->
  <p ng-bind="preview.burger.description | cbTruncate:preview.maxchars:'...'"></p>

  <img src="img/vegetarisch.jpg" alt="Suited for Vegetarians" ng-show="preview.isVegetarian(preview.burger)"/>

  <!-- allow the user to rate the burger -->
  <form ng-if="preview.ratable">
    <div class="form-group">
      <label for="rating">
        Rating
      </label>
      <input id="rating" type="range" class="form-control"
             min="1" max="5"
             ng-model="preview.rating"
             ng-model-options="{ updateOn: 'blur' }"
             ng-change="preview.rateBurger(preview.rating)"/>
    </div>
  </form>
</section>