<form class="form" name="vm.burgerForm" novalidate ng-submit="vm.updateBurger(vm.burger)">
  <!-- give a name to the form in order to address it by its name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>
    <input id="name" type="text" class="form-control" ng-model="vm.burger.name" readonly name="name"/>
  </div>
  <div class="form-group" ng-class="{ 'has-error': vm.burgerForm.description.$invalid }">
    <label for="description">
      Description
    </label>
    <textarea id="description" class="form-control" ng-model="vm.burger.description" required
              name="description"
              ng-minlength="5"
              ng-maxlength="120"
              ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
    </textarea>
    <ng-messages for="vm.burgerForm.description.$error" role="alert" class="help-block">
      <ng-message when="required">
        Please provide a description!
      </ng-message>
      <ng-message when="minlength, maxlength">
        Please use 5 to 120 characters!
      </ng-message>
    </ng-messages>
  </div>
  <div class="form-group" ng-class="{ 'has-error': vm.burgerForm.type.$invalid }">
    <label for="type">Type</label>
    <select id="type" class="form-control" ng-model="vm.burger.type" required name="type"
            ng-options="type for type in vm.types">

    </select>
  </div>
  <div class="form-group" ng-class="{ 'has-error': vm.burgerForm.price.$invalid }">
    <label for="price">
      Price
    </label>
    <input id="price" type="number" class="form-control" ng-model="vm.burger.price" required name="price"
           min=".1" step=".1"/>
    <ng-messages for="vm.burgerForm.price.$error" role="alert" class="help-block">
      <ng-message when="required">
        Please provide a price!
      </ng-message>
      <ng-message when="min">
        Please enter a positive number!
      </ng-message>
    </ng-messages>
  </div>

  <button class="btn btn-primary" type="submit" ng-disabled="vm.burgerForm.$invalid">
    Update
  </button>

  <hr/>
  <!-- display debugging information -->
  <div class="form-group">
    <label for="debug">
      <a href="" ng-click="vm.debug = !vm.debug">Debug</a>
    </label>
    <pre id="debug"><code ng-bind="vm.burgerForm | json"
                          ng-show="vm.debug"></code></pre>
  </div>
</form>
