<!DOCTYPE html>
<html lang="en" ng-app="cleanburger">
<head>
  <meta charset="UTF-8">
  <title>Services | Engawa</title>
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="../../app/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" ng-cloak>

  <div class="panel panel-default">
    <div class="panel-body">
      <h2><a href="../"><-</a> Services
        <small><sup>&copy;</sup>Engawa 2015</small>
      </h2>
    </div>
  </div>

  <section class="row">
    <div class="col-md-8">
      <div ng-controller="MenuCtrl as menu">
        <h3>Clean Burger<sup>&reg;</sup> offers {{ menu.getBurgerCount() }} burgers</h3>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="burger in menu.burgers">
            <td>
              {{ burger.name }}
            </td>
            <td>
              {{ burger.description }}
            </td>
            <td>
              {{ burger.type }}
            </td>
            <td>
              {{ burger.price }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<!-- bower:js -->
<script src="../../app/bower_components/jquery/dist/jquery.js"></script>
<script src="../../app/bower_components/angular/angular.js"></script>
<script src="../../app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<script src="src/app.module.js"></script>
<!-- add script tags to load controller and services -->
<script src="src/views/menu/menu.ctrl.js"></script>
<script src="src/core/services/services.module.js"></script>
<script src="src/core/services/data/data.module.js"></script>
<script src="src/core/services/data/burgers.provider.js"></script>
<script src="src/core/services/data/burgers.factory.js"></script>
<script src="src/core/services/data/burgers.service.js"></script>
<script src="src/core/services/data/burgers.value.js"></script>
</body>
</html>