<!DOCTYPE html>
<html lang="en" ng-app="cleanburger">
<head>
  <meta charset="UTF-8">
  <title>Controllers | Engawa</title>
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="../../app/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" ng-cloak>

  <div class="panel panel-default">
    <div class="panel-body">
      <h2><a href="../"><-</a> Controllers
        <small><sup>&copy;</sup>Engawa 2015</small>
      </h2>
    </div>
  </div>

  <section class="row">
    <div class="col-md-8">
      <!-- add ng-controller using the 'as' expression to create a new scope bound to the controller instance -->
      <div ng-controller="MenuCtrl as menu">
        <!-- display dynamic welcome message by referring to a controller method -->
        <h3>Clean Burger<sup>&reg;</sup> offers {{ menu.getBurgerCount() }} burgers</h3>

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="burger in menu.burgers"> <!-- refer to the controller instance via its alias -->
            <td>
              {{ burger.name }}
            </td>
            <td>
              {{ burger.description }}
            </td>
            <td>
              {{ burger.type }}
            </td>
            <td>
              {{ burger.price }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<!-- bower:js -->
<script src="../../app/bower_components/jquery/dist/jquery.js"></script>
<script src="../../app/bower_components/angular/angular.js"></script>
<script src="../../app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<script src="src/app.module.js"></script>
<!-- add script tag to load controller -->
<script src="src/views/menu/menu.ctrl.js"></script>
</body>
</html>