<!-- display only, if burger has been passed in -->
<section class="well" ng-if="!!preview.burger">
  <h3>{{ preview.burger.name }}</h3>
  <p ng-bind="preview.burger.description"></p>
  <!-- display image based on type of burger -->
  <img src="img/vegetarisch.jpg" alt="Suited for Vegetarians" ng-show="preview.isVegetarian(preview.burger)"/>
</section>