<section class="row">
  <div class="col-md-8">
    <h3>
      <a href="#/burgers">
        List of Burgers
      </a>
    </h3>
    <!-- pass currently selected burger into the component -->
    <cb-burger-form burger="details.burger">

    </cb-burger-form>
  </div>
  <div class="col-md-4">
    <cb-burger-preview burger="details.burger">

    </cb-burger-preview>
  </div>
</section>