<!DOCTYPE html>
<html lang="en" ng-app="cleanburger">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Schulung | Engawa</title>
  <link rel="stylesheet" href="../app/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" ng-controller="Sections as ctrl">

  <h1>AngularJS Schulung
    <small><sup>&copy;</sup>Engawa 2015</small>
  </h1>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>
            Section
          </th>
          <th>
            Content
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="section in ::ctrl.sections">
          <td>
            {{ $index + 1 }}.
          </td>
          <td>
            <a ng-href="{{ ::section }}">
              {{ ::section | cbSection }}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="../app/bower_components/angular/angular.js"></script>
<script src="../app/bower_components/Case/dist/Case.min.js"></script>

<script>
  (function () {

    angular.module('cleanburger', [])
        .constant('Case', window.Case)
        .controller('Sections', function () {
          this.sections = [
            '1_templates_and_data_binding',
            '2_modules',
            '3_controllers',
            '4_services',
            '5_dependency_injection',
            '6_directives',
            '7_filters',
            '8_routing_and_application_state',
            '9_forms_and_validation',
            '10_http_rest_and_promises',
            '11_directives_explained',
            '12_unit_testing_with_karma'
          ];
        })
        .filter('cbSection', function (Case) {
          return function (str, separator) {
            str = str || '';
            separator = separator || '_';

            var parts = str.split(separator);

            parts.shift();

            return Case.title(parts.join(' '));
          };
        });

  }());
</script>
</body>
</html>