<!DOCTYPE html>
<html lang="en" ng-app> <!-- add ng-app to bootstrap AngularJS -->
<head>
  <meta charset="UTF-8">
  <title>Templates and Data Binding | Engawa</title>
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="../../app/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body
    ng-init="burgers = [{name:'Luftsprung', description:'Walnussbratling mit Gorgonzolacrème und Rauke', type:'V', price:7.8},{name:'Landei', description:'gegrillte Hähnchenbrust, viele Sprossen und Schnittlauchsoße', type:'B', price:7.5},{name:'Klassik', description:'Die Mutter aller Burger', type:'C', price:6.5}]">
<!-- add ng-init to prefill data -->

<div class="container" ng-cloak> <!-- add ng-cloak to avoid flickering of curly brackets -->

  <div class="panel panel-default">
    <div class="panel-body">
      <h2><a href="../"><-</a> Templates and Data Binding
        <small><sup>&copy;</sup>Engawa 2015</small>
      </h2>
    </div>
  </div>

  <section class="row">
    <div class="col-md-8">
      <!-- display a dynamic table of data -->
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="burger in burgers">
          <td>
            {{ burger.name }} <!-- use curly braces to evaluate expressions -->
          </td>
          <td ng-bind="burger.description">
            <!-- use ng-bind as alternative to the curly brackets -->
          </td>
          <td>
            {{ ::burger.type }} <!-- use :: for 'one time binding' -->
          </td>
          <td>
            {{ burger.price }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<!-- bower:js -->
<script src="../../app/bower_components/jquery/dist/jquery.js"></script>
<script src="../../app/bower_components/angular/angular.js"></script>
<script src="../../app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
</body>
</html>