<!-- display dynamic welcome message by referring to a controller method -->
<h2>Clean Burgers<sup>&reg;</sup> offers {{ list.getBurgerCount() }} burgers</h2>

<!-- display a dynamic table of data -->
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="burger in list.burgers">
    <td>
      {{ burger.name }}
    </td>
    <td>
      {{ burger.description }}
    </td>
    <td>
      {{ burger.type }}
    </td>
    <td>
      {{ burger.price }}
    </td>
    <td>
      <a ng-href="#/burgers/{{ burger.name }}">
        Edit
      </a>
    </td>
  </tr>
  </tbody>
</table>
