<!DOCTYPE html>
<html lang="en" ng-app="cleanburger"> <!-- add module name to ng-app to initialize the respective module -->
<head>
  <meta charset="UTF-8">
  <title>Modules | Engawa</title>
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="../../app/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body
    ng-init="burgers = [{name:'Luftsprung', description:'Walnussbratling mit Gorgonzolacrème und Rauke', type:'V', price:7.8},{name:'Landei', description:'gegrillte Hähnchenbrust, viele Sprossen und Schnittlauchsoße', type:'B', price:7.5},{name:'Klassik', description:'Die Mutter aller Burger', type:'C', price:6.5}]">
<!-- add ng-init to prefill data -->

<div class="container" ng-cloak>

  <div class="panel panel-default">
    <div class="panel-body">
      <h2><a href="../"><-</a> Modules
        <small><sup>&copy;</sup>Engawa 2015</small>
      </h2>
    </div>
  </div>

  <section class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="burger in burgers">
          <td>
            {{ burger.name }}
          </td>
          <td>
            {{ burger.description }}
          </td>
          <td>
            {{ burger.type }}
          </td>
          <td>
            {{ burger.price }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<!-- bower:js -->
<script src="../../app/bower_components/jquery/dist/jquery.js"></script>
<script src="../../app/bower_components/angular/angular.js"></script>
<script src="../../app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<script src="src/app.module.js"></script>
<!-- add script tag to load app module -->
</body>
</html>