<section class="row">
  <div class="col-md-6">
    <h3>
      <a href="#/burgers">
        List of Burgers
      </a>
    </h3>
    <!-- pass currently selected burger into the component -->
    <cb-burger-form burger="details.burger">

    </cb-burger-form>
  </div>
  <div class="col-md-6">
    <cb-burger-preview
        burger="details.burger"
        maxchars="25"
        is-ratable="true"
        on-rate="details.updateRating(details.burger, rating)">

      <!-- lives in a scope prototypically inherited from the 'details' scope -->
      <h3>Preview current burger</h3>

    </cb-burger-preview>
  </div>
</section>